In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/loan_prediction.csv")

In [3]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [5]:
df.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [6]:
df.shape

(614, 13)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [8]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [9]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

# Now handling Missing values

In [10]:
df.isnull().sum()*100/len(df)

Loan_ID              0.000000
Gender               2.117264
Married              0.488599
Dependents           2.442997
Education            0.000000
Self_Employed        5.211726
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           3.583062
Loan_Amount_Term     2.280130
Credit_History       8.143322
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [11]:
# columns which are having missing values less then 5% we will drop them  
columns=('Gender','Dependents','LoanAmount','Loan_Amount_Term')
df=df.dropna(subset=columns)

In [12]:
df.isnull().sum()*100/len(df)

Loan_ID              0.000000
Gender               0.000000
Married              0.000000
Dependents           0.000000
Education            0.000000
Self_Employed        5.424955
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     0.000000
Credit_History       8.679928
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [13]:
# Now the columns which are having missing values more than 5% we will fill this columns 
df['Self_Employed'].unique()

array(['No', 'Yes', nan], dtype=object)

In [14]:
df['Self_Employed'].mode()[0]

'No'

In [21]:
import warnings
warnings.filterwarnings('ignore')

In [22]:
df['Self_Employed']=df['Self_Employed'].fillna(df['Self_Employed'].mode()[0])

In [23]:
df.isnull().sum()*100/len(df)

Loan_ID              0.0
Gender               0.0
Married              0.0
Dependents           0.0
Education            0.0
Self_Employed        0.0
ApplicantIncome      0.0
CoapplicantIncome    0.0
LoanAmount           0.0
Loan_Amount_Term     0.0
Credit_History       0.0
Property_Area        0.0
Loan_Status          0.0
dtype: float64

In [24]:
df['Credit_History'].unique()

array([1., 0.])

In [25]:
df['Credit_History'].mode()[0]

1.0

In [26]:
df['Credit_History']=df['Credit_History'].fillna(df['Credit_History'].mode()[0])

In [27]:
df['Credit_History'].unique()

array([1., 0.])

In [28]:
df.isnull().sum()*100/len(df)

Loan_ID              0.0
Gender               0.0
Married              0.0
Dependents           0.0
Education            0.0
Self_Employed        0.0
ApplicantIncome      0.0
CoapplicantIncome    0.0
LoanAmount           0.0
Loan_Amount_Term     0.0
Credit_History       0.0
Property_Area        0.0
Loan_Status          0.0
dtype: float64

# Handling Categorical columns

In [29]:
df.sample(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
307,LP001994,Female,No,0,Graduate,No,2400,1863.0,104.0,360.0,0.0,Urban,N
349,LP002138,Male,Yes,0,Graduate,No,2625,6250.0,187.0,360.0,1.0,Rural,Y
535,LP002732,Male,No,0,Not Graduate,No,2550,2042.0,126.0,360.0,1.0,Rural,Y
96,LP001327,Female,Yes,0,Graduate,No,2484,2302.0,137.0,360.0,1.0,Semiurban,Y
263,LP001871,Female,No,0,Graduate,No,7200,0.0,120.0,360.0,1.0,Rural,Y
306,LP001993,Female,No,0,Graduate,No,3762,1666.0,135.0,360.0,1.0,Rural,Y
386,LP002239,Male,No,0,Not Graduate,No,2346,1600.0,132.0,360.0,1.0,Semiurban,Y
331,LP002098,Male,No,0,Graduate,No,2935,0.0,98.0,360.0,1.0,Semiurban,Y
92,LP001319,Male,Yes,2,Not Graduate,No,3273,1820.0,81.0,360.0,1.0,Urban,Y
518,LP002683,Male,No,0,Graduate,No,4683,1915.0,185.0,360.0,1.0,Semiurban,N

In [30]:
df['Dependents'].unique()

array(['1', '0', '2', '3+'], dtype=object)

In [31]:
df['Dependents']=df['Dependents'].replace(to_replace="3+",value='4')

In [32]:
df['Dependents'].unique()

array(['1', '0', '2', '4'], dtype=object)

In [33]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [34]:
df['Gender']=df['Gender'].map({'Male':1,'Female':0}).astype('int')

In [35]:
df['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [36]:
df['Education']=df['Education'].map({'Graduate':1,'Not Graduate':0}).astype('int')

In [37]:
df['Married'].unique()

array(['Yes', 'No'], dtype=object)

In [38]:
df['Married']=df['Married'].map({'Yes':1,'No':0}).astype('int')

In [39]:
df['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [40]:
df['Self_Employed']=df['Self_Employed'].map({'No':1,'Yes':0}).astype('int')

In [41]:
df['Property_Area'].unique()

array(['Rural', 'Urban', 'Semiurban'], dtype=object)

In [42]:
df['Property_Area']=df['Property_Area'].map({'Rural':0,'Urban':1,'Semiurban':2}).astype('int')

In [43]:
df['Loan_Status'].unique()

array(['N', 'Y'], dtype=object)

In [44]:
df['Loan_Status']=df['Loan_Status'].map({'N':1,'Y':0}).astype('int')

In [45]:
# Now storing feature Matrix response in x vector  and target in y vector

In [46]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,1,1,4583,1508.0,128.0,360.0,1.0,0,1
2,LP001005,1,1,0,1,0,3000,0.0,66.0,360.0,1.0,1,0
3,LP001006,1,1,0,0,1,2583,2358.0,120.0,360.0,1.0,1,0
4,LP001008,1,0,0,1,1,6000,0.0,141.0,360.0,1.0,1,0
5,LP001011,1,1,2,1,0,5417,4196.0,267.0,360.0,1.0,1,0

In [47]:
x=df.drop('Loan_Status', axis=1)
y=df['Loan_Status']
y

1      1
2      0
3      0
4      0
5      0
      ..
609    0
610    0
611    0
612    0
613    1
Name: Loan_Status, Length: 553, dtype: int32

In [48]:
df=df.drop('Loan_ID',axis=1)

In [49]:
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,1,4583,1508.0,128.0,360.0,1.0,0,1
2,1,1,0,1,0,3000,0.0,66.0,360.0,1.0,1,0
3,1,1,0,0,1,2583,2358.0,120.0,360.0,1.0,1,0
4,1,0,0,1,1,6000,0.0,141.0,360.0,1.0,1,0
5,1,1,2,1,0,5417,4196.0,267.0,360.0,1.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,1,1,2900,0.0,71.0,360.0,1.0,0,0
610,1,1,4,1,1,4106,0.0,40.0,180.0,1.0,0,0
611,1,1,1,1,1,8072,240.0,253.0,360.0,1.0,1,0
612,1,1,2,1,1,7583,0.0,187.0,360.0,1.0,1,0
613,0,0,0,1,0,4583,0.0,133.0,360.0,0.0,2,1

# Feature Scaling

In [50]:
from sklearn.preprocessing import StandardScaler
st=StandardScaler()

In [51]:
cols=['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term']
x[cols]=st.fit_transform(x[cols])
df=x

In [52]:
x=x.drop('Loan_ID',axis=1)

In [53]:
x

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,1,-0.128694,-0.049699,-0.214368,0.279961,1.0,0
2,1,1,0,1,0,-0.394296,-0.545638,-0.952675,0.279961,1.0,1
3,1,1,0,0,1,-0.464262,0.229842,-0.309634,0.279961,1.0,1
4,1,0,0,1,1,0.109057,-0.545638,-0.059562,0.279961,1.0,1
5,1,1,2,1,0,0.011239,0.834309,1.440866,0.279961,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,1,1,-0.411075,-0.545638,-0.893134,0.279961,1.0,0
610,1,1,4,1,1,-0.208727,-0.545638,-1.262287,-2.468292,1.0,0
611,1,1,1,1,1,0.456706,-0.466709,1.274152,0.279961,1.0,1
612,1,1,2,1,1,0.374659,-0.545638,0.488213,0.279961,1.0,1
613,0,0,0,1,0,-0.128694,-0.545638,-0.154828,0.279961,0.0,2

# Splitting the Dataset into the Training Set and Testing Set and applying k-fold cross validation

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [55]:
model_df={}
def model_val(model,x,y):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)
    
    model.fit(x_train,y_train)
    y_pred=model.predict(x_test)
    print(f"{model} accuracy is{accuracy_score(y_test,y_pred)}")  
    
    score=cross_val_score(model,x,y,cv=5)
    print(f"{model} Avg cross val score is){np.mean(score)}")
    model_df[model]=round(np.mean(score)*100,2)

In [56]:
model_df

{}

# Logistic Regression

In [57]:
from sklearn.linear_model import LogisticRegression

In [58]:
x.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,1,-0.128694,-0.049699,-0.214368,0.279961,1.0,0
2,1,1,0,1,0,-0.394296,-0.545638,-0.952675,0.279961,1.0,1
3,1,1,0,0,1,-0.464262,0.229842,-0.309634,0.279961,1.0,1
4,1,0,0,1,1,0.109057,-0.545638,-0.059562,0.279961,1.0,1
5,1,1,2,1,0,0.011239,0.834309,1.440866,0.279961,1.0,1

In [59]:
model=LogisticRegression()
model_val(model,x,y)

LogisticRegression() accuracy is0.8018018018018018
LogisticRegression() Avg cross val score is)0.8047829647829647

# Support Vector Classifier

In [60]:
from sklearn import svm
model = svm.SVC()
model_val(model,x,y)

SVC() accuracy is0.7927927927927928
SVC() Avg cross val score is)0.7938902538902539

# Decision Tree Classifier

In [61]:
from sklearn.tree import DecisionTreeClassifier
model =DecisionTreeClassifier()
model_val(model,x,y)

DecisionTreeClassifier() accuracy is0.7027027027027027
DecisionTreeClassifier() Avg cross val score is)0.726961506961507

# Random Forest Classifier

In [62]:
from sklearn.ensemble import RandomForestClassifier
model =RandomForestClassifier()
model_val(model,x,y)

RandomForestClassifier() accuracy is0.7747747747747747
RandomForestClassifier() Avg cross val score is)0.7866502866502867

# Gradient Boosting Classifier

In [63]:
from sklearn.ensemble import GradientBoostingClassifier
model =GradientBoostingClassifier()
model_val(model,x,y)

GradientBoostingClassifier() accuracy is0.7927927927927928
GradientBoostingClassifier() Avg cross val score is)0.7739557739557739

In [64]:
model_df

{LogisticRegression(): 80.48,
 SVC(): 79.39,
 DecisionTreeClassifier(): 72.7,
 RandomForestClassifier(): 78.67,
 GradientBoostingClassifier(): 77.4}

# Hyperparameter Tuning

In [65]:
from sklearn.model_selection import RandomizedSearchCV

# logistic Regression

In [66]:
log_reg_grid={"C":np.logspace(-4,4,20),"solver":['liblinear']}

In [67]:
rs_log_reg=RandomizedSearchCV(LogisticRegression(),param_distributions=log_reg_grid,
                  n_iter=20,cv=5,verbose=True)

In [68]:
rs_log_reg.fit(x,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=LogisticRegression(), n_iter=20,
                   param_distributions={'C': array([1.00000000e-04, 2.63665090e-04, 6.95192796e-04, 1.83298071e-03,
       4.83293024e-03, 1.27427499e-02, 3.35981829e-02, 8.85866790e-02,
       2.33572147e-01, 6.15848211e-01, 1.62377674e+00, 4.28133240e+00,
       1.12883789e+01, 2.97635144e+01, 7.84759970e+01, 2.06913808e+02,
       5.45559478e+02, 1.43844989e+03, 3.79269019e+03, 1.00000000e+04]),
                                        'solver': ['liblinear']},
                   verbose=True)

In [69]:
rs_log_reg.best_score_

0.8066011466011467

In [70]:
rs_log_reg.best_params_

{'solver': 'liblinear', 'C': 0.23357214690901212}

# SVC

In [71]:
svc_grid={'C':[0.25,0.50,0.75,1],"kernel":["linear"]}

In [72]:
rs_svc=RandomizedSearchCV(svm.SVC(),
                         param_distributions=svc_grid,cv=5,n_iter=20,verbose=True)

In [73]:
rs_svc.fit(x,y)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

RandomizedSearchCV(cv=5, estimator=SVC(), n_iter=20,
                   param_distributions={'C': [0.25, 0.5, 0.75, 1],
                                        'kernel': ['linear']},
                   verbose=True)

In [74]:
rs_svc.best_score_

0.8066011466011467

In [75]:
rs_svc.best_params_

{'kernel': 'linear', 'C': 0.25}

# Random Forest Classifier

In [76]:
RandomForestClassifier()

RandomForestClassifier()

In [77]:
rf_grid={'n_estimators':np.arange(10,1000,10),
  'max_features':['auto','sqrt'],
  'max_depth':[None,3,5,10,20,30],
  'min_samples_split':[2,5,20,50,100],
  'min_samples_leaf':[1,2,5,10]
 
}

In [78]:
rs_rf=RandomizedSearchCV(RandomForestClassifier(),
                         param_distributions=rf_grid,
                         n_iter=20,cv=5,verbose=True)

In [79]:
rs_rf.fit(x,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(), n_iter=20,
                   param_distributions={'max_depth': [None, 3, 5, 10, 20, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 10],
                                        'min_samples_split': [2, 5, 20, 50,
                                                              100],
                                        'n_estimators': array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120, 130,
       140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260,
       270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390,
       400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520,
       530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650,
       660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780,
       790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910,
       920, 930, 940, 950, 960, 970, 980, 990])},
                   verbose=True)

In [80]:
rs_rf.best_score_

0.8066175266175266

In [81]:
rs_rf.best_params_

{'n_estimators': 240,
 'min_samples_split': 50,
 'min_samples_leaf': 1,
 'max_features': 'auto',
 'max_depth': 30}

# Now save the Model

In [86]:
rf = RandomForestClassifier(n_estimators=270,
min_samples_split=5,
min_samples_leaf=5,
max_features='sqrt',
max_depth=5)

In [87]:
rf.fit(x,y)

RandomForestClassifier(max_depth=5, max_features='sqrt', min_samples_leaf=5,
                       min_samples_split=5, n_estimators=270)